{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <nav id="site-nav" class="simple-nav">
      <ul class="simple-nav__list">
        {% for link in site.data.navigation.main %}
          {% assign domain = '' %}
          {% unless link.url contains 'http' %}
            {% assign domain = base_path %}
          {% endunless %}
          <li class="simple-nav__item">
            <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}

        <li id="theme-toggle" class="simple-nav__item simple-nav__item--icon">
          <a role="button" aria-labelledby="theme-icon">
            <i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
